@import '~antd/dist/antd.css';

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

h1 {
  color: white;
}

.nav > li a, .nav > li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav > li a :hover, .nav > li :hover {
  background-color: #111;
}
.entity {
  font-size: 28px;
}
.entity-container {
  margin-left: 5%;
}
.entities-container {
  margin-left: 5%;
}
.entity-def-container {
  margin-left: 5%;
}

.property-container {
  margin-left: 5%;
  border: solid 1px black;
  padding-left: 1%;
}

.prop-name {
  color: red;
}

.prop-description {
  color: purple;
}


.prop-datatype {
  color: blue;
}

.prop-ref {
  color: green;
}

.entity-def-name {
  color: blue;
}